$theme-colors: (
    "danger": tomato,
    "warning": orange,
);
$primary: #bed601;
$secondary: teal;
$navbar-light-color: rgb(42, 42, 42);
$navbar-light-hover-color: $secondary;
$navbar-light-brand-color: $primary;
// Custom variable
$navbar-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

